/Cargo.toml @ivajloip @lthiery @lulf
/README.md @ivajloip @lthiery @lulf

/lora-modulation/ @lthiery @lulf @ivajloip
/lora-phy/ @lucasgranberg @plaes @CBJamo @Dirbaio @lthiery
/lorawan-device/ @ivajloip @lthiery @lulf
/lorawan-encoding/ @ivajloip @lthiery @lulf
